@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  box-sizing: border-box;
}
body{
  background: #4070f4;
}
form{
    padding: 10px 25px 25px 25px;
    width: 380px;
    margin: 90px auto;
    background-color: #fff;
}
form h2{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
form input{
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.button input{
  color: #fff;
  background: #4070f4;
  cursor: pointer;
}
.button :hover{
  background: #0e4bf1;
}